.profileCard {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 0px rgba(201, 201, 201, 0.2);
    transition: 200ms;
}

.profileCard:hover {
    box-shadow: 1px 1px 5px 0px rgba(201, 201, 201, 0.8);
}

.profileCard:active {
    box-shadow: 1px 1px 5px 0px rgba(201, 201, 201, 0.8) inset;
}

.link {
    text-decoration: none;
}

.thumbnail {
    border-radius: 100%;
}

.dataContainer {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.name {
    font-size: 1.1em;
    font-weight: 500;
    color: black;
}

.location {
    font-size: 0.8em;
    font-weight: 300;
    color: gray;
}
