.profileData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.2em;
    margin-top: 36px;
}

.dataColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-right: 24px;
}

.dataLine {
    margin-bottom: 8px;
}

.dataTitle {
    font-weight: bold;
}